<h1 class="title_web">Workout Buddy: User Registration</h1><br>

<%= form_for @user do |f| %>

  <%= f.label :first_name, class: "form-group" %>
  <%= f.text_field :first_name, placeholder: 'First Name', class: "form-control" %>

  <%= f.label :last_name, class: "form-group" %>
  <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control" %>

  <%= f.label :email, class: "form-group" %>
  <%= f.text_field :email, placeholder: 'Email', class: "form-control" %>

  <%= f.label :password, class: "form-group" %>
  <%= f.password_field :password, placeholder: 'Password', class: "form-control" %>

  <%= f.label :password_confirmation, class: "form-group" %>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: "form-control"%><br>


  <%= f.submit class: "btn btn-success" %>
<% end %>
